.movieRow {
  margin-left: 20px;
  color: white;
}

.movieRow_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.movieRow_posters::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.movieRow_poster {
  object-fit: contain;
  max-height: 130px;
  transition: transform 450ms;
  margin: 0.6rem;
}

.movieRow_poster:hover {
  transform: scale(1.1);
}

.movieRow_posterLarge {
  max-height: 300px;
  margin: 0.5rem;
}

.movieRow_posterLarge:hover {
  transform: scale(1.1);
}

.movieRow_poster_title {
  margin: 0 auto;
  text-align: center;
  color: #ffff;
}
