.movie-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

section:not(:nth-child(2)) {
  width: 90vw;
}

section:not(:first-child) {
  margin-top: 5em;
}

.movie-banner-section {
  height: 100vh;
  display: flex;
  align-self: center;
}

.image {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-size: cover;
}

.gray-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: linear-gradient(90deg, #111 5%, rgba(1, 1, 1, 0));
}

.movie-info {
  width: 35%;
}

.movie-info * {
  margin: 1em 0;
}

.movie-details {
  color: #a3a3a3;
}

.more-details-section {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.more-details-container {
  display: flex;
}

.movie-detail-cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text-grey,
.text-white {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.text-grey {
  color: #a3a3a3;
}

.play_button {
  width: 2.2em;
}

.play_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

@media screen and (max-width: 960px) {
  .movie-banner-section {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: 300px;
    position: relative;
    background-size: cover;
  }

  .gray-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #111 5%, rgba(1, 1, 1, 0));
  }

  .movie-info {
    width: 100%;
  }

  .more-details-container {
    flex-direction: column;
  }

  .movie-detail-cell {
    margin: 0.5em 0;
  }
}
